$fontA: 28px;
$fontB: 24px;
$fontC: 20px;
$fontD: 16px;

$colorA: #f4f4f4; // body背景色
$colorB: #42b983; // 主题色
$lightB: #a1e9c8; // 主题色 浅色
$colorC: #333;
$colorD: #c8c9cc;
$colorE: #666;
$colorF: #f5f7fa; // 按钮色
$colorG: #606266; // 按钮字体色
$colorH: #eee; // 骨架屏背景
$colorI: #e6e6e6; // 骨架屏动画过渡色
$default: #606266;
$success: #67c23a;
$warning: #e6a23c;
$danger: #f56c6c;
$info: #909399;